# Configuración DREAM FIT Backend API
PORT=3000
JWT_SECRET=dreamfit_super_secret_jwt_key_2026

# Tipo de Base de Datos: 'sqlite' (listo sin instalar nada) o 'mysql'
DB_TYPE=sqlite

# Parámetros para MySQL (activar cuando DB_TYPE=mysql)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=dreamfit_db
DB_PORT=3306
